@use '@styles/helpers';

.header {
  margin-top: 0;
  margin-bottom: 20px;
}

.bannerHome {
  margin-bottom: 30px;
}

.videoContainer {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  //Read more: https://css-tricks.com/aspect-ratio-boxes/
  padding-top: calc(208 / 291 * 100%);
  transition: padding 0.3s ease-in-out;
}

.video {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: helpers.$widthTablet) {
  .header {
    margin: 10px 0 20px;
    transition: margin 0.3s ease-in-out;
  }

  .videoContainer {
    padding-top: calc(258 / 418 * 100%);
  }
}

@media screen and (min-width: helpers.$widthDesktop) {
  .bannerHome {
    margin-bottom: 60px;
  }

  .header {
    margin: 0 0 26px;
    width: 90%;
  }

  .videoContainer {
    padding-top: 56.25%;
  }
}
