.login__modal {
  padding: 110px 20px 60px;
  transition: padding 0.3s ease-in-out;
  input {
    padding: 0 30px;
    margin: 0;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  button {
    max-width: 230px;
    margin: 13px 0 8px;
  }
}

@media screen and (max-width: 600px) {
  .login__modal {
    padding: 25px 18px 33px;
    input:not(:first-child) {
      margin-top: 10px;
    }

    button {
      margin: 17px 0;
    }
  }
}

@media screen and (max-width: 370px) {
  .login__modal_title {
    font-size: 20px;
  }
}
