@use "styles/helpers";

.profileContent {
  flex: 1;
  color: #000000;

  &__activeText {
    color: #119AD0;
  }
}

.profileInfo {

  &__title p {
    font-family: 'Montserrat_alternates', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
  }

  &__subTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #222222;
    margin-top: 23px;
  }

  &__desc {
    max-width: 550px;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin-top: 19px;
  }

  &__subTitle, &__desc {
    padding-left: 3px;
  }

  &__inputWrapp {
    flex: 1;

    &:first-child {
      margin-right: 15px;
    }
  }

  &__genderGroup {
    margin-top: 8px;

    input {
      margin-top: 0;
    }
  }

  &__gender {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  &__content {

    form {
      border: none;
      border-radius: 0;
      margin-top: 15px;
      text-align: left;
    }

    button {
      min-height: 42px;
      font-size: 14px;
      padding: 5px 15px;
      border-radius: 5px;
      max-width: 135px;
    }
  }

  &__inputInner {

    input {
      min-height: 50px;
    }
  }
}

.updatePassword {
  padding: 0!important;
  box-shadow: none;
  border: none;

  fieldset {
    border-radius: 0;
    margin-top: 15px;
    text-align: left;
    border: 1px solid #d3ced2;
    padding: 0 20px 20px;
  }
}

.orders {

  &__table_wrap {
    margin-top: 25px;
  }

  table {
    border-collapse: collapse;
    width: 100% !important;

    tr {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    td, th {
      text-align: left;
    }
  }

  &__table_header {
    color: #fff;
    background: #4FB3EC;
    border-radius: 5px 5px 0 0;

    th {
      padding: 12px;
      line-height: 25px;
    }

  }

  &__table_header th, &__item td {
    &:first-child {
      flex-basis: 10%;
      max-width: 10%;
      font-weight: 600;
    }

    &:last-child {
      flex-basis: 25%;
      max-width: 25%;
    }

    &:nth-child(2) {
      flex-basis: 45%;
      max-width: 45%;
    }

    &:nth-child(3) {
      flex-basis: 20%;
      max-width: 20%;
    }
  }

  &__item {

    td {
      display: flex;
      align-items: center;
      border-top: 1px solid #dee2e6;
      padding: 12px;
    }

  }

  &__item_product {
    display: flex;
    align-items: center;

    img {
      max-width: 38px;
    }

    & > div {
      margin-left: 8px;
    }
  }

  &__btn {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
    min-height: 41px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;
    max-width: 180px;
    -webkit-tap-highlight-color: transparent;
    transition: .1s ease-out;

    &:hover {
      background: #ffc76d;
      border-color: #ffc76d;
      color: #fefefe;
      transition: .1s ease-out;
    }
  }

  &__btn_viewing {
    border: 1px solid #4FB3EC;
    color: #119AD0;
    background: none;
  }

  &__btn_check {
    background: #4FB3EC;
    color: #FFFFFF;
    border-color: #4FB3EC;
  }

  &__loader_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
  }
}

@media screen and (max-width: 880px) {
  .orders {

    &__btn {
      width: 105px;
      max-width: none;
    }

    &__item {

      td {
        padding: 12px 0 12px 5px;
      }
    }

    &__table_header th, &__item td {

      &:last-child {
        min-width: 105px;
      }
    }

  }
}


@media screen and (max-width: helpers.$widthTablet) {
  .profileInfo {

    &__title {
      font-size: 28px;
      line-height: 32px;
    }

    &__inputGroup {
      flex-direction: column;
    }

    &__inputWrapp {

      &:first-child {
        margin-right: 0;
      }
    }
  }

  .profileContent {
    margin-top: 45px;
  }

  .orders {

    &__btn {
      min-height: 35px;
      border-radius: 5px;
      font-size: 13px;
    }
  }
}


@media screen and (max-width: helpers.$widthMobile) {
  .profileInfo {

    &__subTitle {
      line-height: 28px;
    }

    &__desc {
      margin-top: 10px;
    }
  }

  .orders {

    &__btn {
      width: 90px;
      min-height: 35px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 11px;
    }

    &__item {

      td {
        font-size: 13px;

        p {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }

    &__table_header {

      th {
        font-size: 13px;
      }
    }

    &__table_header th, &__item td {

      &:last-child {
        min-width: 90px;
      }

      &:nth-child(3) {
        min-width: 80px;
        max-width: none;
      }
    }

    &__item_product {

      img {
        max-width: 25px;
      }

      & > div {
        margin-left: 5px;
      }
    }
  }
}

