@use "../../styles/helpers";

.header {
  margin-bottom: 20px;
}

.reviews {
  display: flex;
  margin: 0 0 20px;
  flex-direction: column;

  .review + .review {
    margin: 26px 0 0;
  }

  .review {
    display: none;
  }

  .review:nth-child(-n + 2) {
    display: block;
  }

  &Container {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.reviewsAll {
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 500px;
  padding: 0 26px 20px 0;
  margin-bottom: 20px;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  .review + .review {
    margin: 20px 0 0;
  }

  .review {
    &__header {
      margin-top: 7px;
      margin-left: 7px;
    }
  }
}

.btn__reviews {
  height: 100%;
  padding: 15px 40px;
  width: 200px;
  margin: 0 auto;
}

.review {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__right {
    margin: 5px 0 0 12px;
  }

  &__iconPlay {
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: -10px;
      top: 40px;
      border: 10px solid transparent;
      border-left: 14px solid rgb(79, 179, 236, 0.9);
    }

    &:hover {
      transform: scale(1.02);
      filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
    }
  }

  // Popup-video for Avatar-icon
  &__videoWrapper {
    position: "relative";
    margin-top: 15px;
  }

  &__videoPlayer {
    & > div {
      :first-child {
        height: 500px;
        border-radius: 10px;
        transition: height 0.2s ease-in-out;
      }
    }
  }

  &__closeModal {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 25px;
    cursor: pointer;
    transition: transform 0.3s linear;

    &:hover {
      transform: scale(1.2) rotate(360deg);
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 28px;
      height: 0.125rem;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__score {
    margin-top: 4px;
  }

  &__body {
    background-color: helpers.$darkBlue;
    color: white;
    line-height: 22px;
    border-radius: 10px;
    padding: 22px 30px 25px;
    position: relative;

    &::before {
      content: "";
      width: 26px;
      height: 26px;
      background-color: helpers.$darkBlue;
      position: absolute;
      top: -8px;
      left: 15px;
      z-index: -1;
      transform: rotateZ(45deg) translateY(3px);
      border-radius: 7px;
    }
  }

  &__showMore {
    display: inline-block;
    border-bottom: 1px solid;
    line-height: 12px;
    margin-top: 12px;
    cursor: pointer;
    transition: color 0.2s ease-out;

    &:hover {
      color: #ffc76d;
    }
  }
}

@media only screen and (min-width: helpers.$widthTablet) {
  .btn__reviews {
    margin: 0;
  }

  .reviewsAll {
    max-height: 650px;
  }
}

@media only screen and (min-width: helpers.$widthDesktop) {
  .header {
    margin-bottom: 30px;
  }

  .reviews {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 30px;

    .review {
      flex-basis: 300px;

      &:nth-child(2n) {
        margin: 0 0 0 30px;
      }
    }
  }

  .reviewsAll {
    max-height: 500px;
  }
}

@media only screen and (max-width: helpers.$widthMobile) {
  .review {
    &__videoModal {
      padding: 24px 15px !important;
    }

    &__videoPlayer {
      & > div {
        :first-child {
          height: 450px;
        }
      }
    }
  }
}
