@use "styles/helpers";

.aboutPage {
  margin-top: 39px;
  margin-bottom: 73px;

  & > div {
    flex: 1;
  }

  &__image {
    max-width: 470px;
  }

  &__desc {
    margin-left: 29px;

    h1 {
      margin-top: 3px;
      margin-bottom: 0;
    }

    &__inner {
      margin-top: 19px;

      p {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        padding-left: 3px;

        &:not(:first-child) {
          margin-top: 11px;
        }
      }
    }
  }

  &__breadCrumbs {
    font-size: 16px;
  }

  &__mobTitle {
    display: none;
  }
}

@media screen and (max-width: helpers.$widthTablet) {
  .aboutPage {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 79px;

    &__mobTitle {
      display: block;
      margin: 0;
    }

    &__desc {
      margin-left: 0;

      h1 {
        display: none;
      }

      &__inner {
        margin-top: 27px;
      }

    }

    &__image {
      max-width: 100%;

      img {
        margin-top: 22px;
      }
    }

  }
}

@media screen and (max-width: helpers.$widthMobile) {
  .aboutPage {
    flex-direction: column;
    margin-top: 13px;
    margin-bottom: 43px;

    &__desc {

      &__inner {
        margin-top: 8px;

        p {
          padding-left: 0;
        }
      }
    }

    &__breadCrumbs {
      margin-top: 13px;
    }

    &__image {

       img {
         margin-top: 11px;
       }
    }
  }
}