.confirm__code {
  margin-top: 27px;
  input, button {
    margin: 0 15px;
    max-width: 50%;
    flex-basis: 50%;
  }
}
.confirm__code_input {
  flex-basis: calc(50% - 15px);
  max-width: calc(50% - 15px);
  padding: 5px 15px;
}

.change__phone {
  margin-top: 15px;

  span {
    font-weight: 600;
    font-size: 15px;
    line-height: 60px;
    cursor: pointer;
  }
}

.small_reg_btn {
  font-size: 14px!important;
}