@use "styles/helpers";

.wrapper {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #DFECFF;
  border-radius: 10px;
  padding: 40px 30px 50px;
  text-align: center;

  &__title {
    margin-bottom: 30px;

    p {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;
      color: #222222;
    }
  }

  &__subtitle {
    margin-bottom: 25px;

    p {
      font-size: 22px;
    }

  }

  &__search {
    max-width: 80%;
    width: 100%;
  }
}

.btn {
  cursor: pointer;
  border-radius: 250px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: 0.2s ease-out;
  width:190px;
  height: 50px;
  margin: 8px;
}

.success_btn {
  color: #fff;
  background-color: #4fb3ec;
  border: 1px solid #4fb3ec;
}

.error_btn {
  background-color: #fff;
  color: #119AD0;
  border-color: #fff;
}

.btnGroup {
  display: flex;
}

@media screen and (max-width: helpers.$widthMobile) {
  .wrapper {

    &__search {
      max-width: none;
      width: 100%;
    }

    &__title {
      margin-bottom: 20px;

      p {
        font-size: 20px;
      }
    }

    &__subtitle {
      margin-bottom: 20px;

      p {
        font-size: 18px;
      }
    }

  }

  .btn {
    font-size: 14px;
    width: 160px;
    height: 46px;
  }
}

@media screen and (max-width: 380px) {

  .wrapper {
    padding: 40px 30px 30px;

    &__title {

      p {
        font-size: 18px;
      }
    }

    &__subtitle {
      p {
        font-size: 16px;
      }
    }
  }

  .btnGroup {
    flex-direction: column;
  }

}