@use "styles/helpers";

.userEntry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userEntry__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 250px;
  border: 1px solid #FFFFFF;
  width: 200px;
  height: 50px;
  cursor: pointer;

  &:first-child {
    color: #119AD0;
    background: #FFFFFF;
  }
  &:last-child {
    color: #FFFFFF;
    background: transparent;
  }
}

@media screen and (min-width: helpers.$widthTablet) {

}
