.reg__select_button {
  background-color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  margin: 0 15px;
  transition: 0.2s;
  border: 1px solid #fff !important;

  &.btn__active {
    color: #000;
    transition: 0.2s;
  }

  &:not(.btn__active) {
    cursor: pointer;
    color: #119ad0;
  }
}

.register__modal {
  padding: 142px 20px 80px;

  form {
    input {
      font-weight: 500;
      font-size: 20px;
      line-height: 60px;
      color: #000;
      padding: 0 20px;
    }
  }
}

.register__sms {
  margin-top: 30px;
  margin-bottom: 30px;
  input,
  button {
    margin: 0 15px;
    flex-basis: 50%;
  }
}

.select_button_items {
  margin-top: 30px;
}

.reg__form_item {
  margin: 0 15px;
  flex-basis: calc(50% - 30px);
  max-width: calc(50% - 30px);

  input,
  button {
    margin: 5px 0;
  }
}

.gender__group {
  margin: 35px 0 25px;
}

.gender__item {
  label {
    font-weight: 500;
    font-size: 20px;
    padding-left: 30px;
  }

  &:last-child {
    margin-left: 30px;
  }
}

.gender__item input[type="radio"] {
  display: none;
}

.gender__item input[type="radio"] + label {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.gender__item input[type="radio"] + label:before,
.gender__item input[type="radio"] + label:after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.gender__item input[type="radio"] + label:before {
  box-shadow: inset 0 0 0 1em #fff;
}

// стили при наведении курсора на радиокнопку
// стили для радиокнопки, находящейся в фокусе
.gender__item input[type="radio"] + label:hover:before,
.gender__radio input[type="radio"]:focus + label::before {
  box-shadow: inset 0 0 0 0.2em #fff;
}

// стили для активной радиокнопки, при нажатии на нее
.gender__item input[type="radio"]:checked + label:before {
  box-shadow: inset 0 0 0 0.2em #fff, inset 0 0 0 1em #119ad0;
}

.privacy__policy {
  margin-top: 30px;
  line-height: 22px;
  font-size: 16px;

  p {
    line-height: 22px;
    font-size: 16px;
  }

  a {
    color: #fff;
    max-width: 360px;
    display: inline-block;
  }
}

.success__message {
  padding: 15px 10px;
  margin-top: 22px;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #119ad0;
}

@media screen and (max-width: 768px) {
  .gender__item {
    label {
      font-size: 16px;
      padding-left: 28px;
    }
  }

  .gender__item input[type="radio"] + label:before,
  .gender__item input[type="radio"] + label:after {
    width: 20px;
    height: 20px;
  }

  .privacy__policy {
    font-size: 15px;

    p {
      line-height: 22px;
      font-size: 15px;
    }

    a {
      max-width: 330px;
    }
  }
}

@media screen and (max-width: 600px) {
  .register__modal {
    padding: 25px 20px 30px;
  }

  .select_button_items {
    flex-direction: column;
    margin: 0;
  }

  .reg__select_button {
    margin: 0;
    margin-top: 10px;
  }

  .register__sms {
    margin-top: 10px;
  }

  .register__sms_group {
    flex-direction: column;
    margin: 0;

    input {
      margin: 0;
      min-height: 50px;
    }

    button {
      margin: 10px 0 0;
      max-height: 67px;
    }
  }

  .reg__form_items {
    margin: 0;
  }

  .reg__form_item {
    margin: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 410px) {
  .privacy__policy {
    a {
      max-width: 295px;
    }
  }
}
