@use "styles/helpers";

.footer__container {
  background-color: helpers.$lightBlue;
  padding-bottom: 50px;
}

.footer__item_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

.footer__group {
  & > div {
    padding-right: 15px;
    flex-grow: 1;
    padding-top: 52px;

    &:first-child {
      padding-top: 24px;
      padding-left: 6px;
      padding-right: 30px;
      transition: padding-left 0.3s ease-in-out;
    }

    &:last-child {
      padding-left: 60px;
      padding-right: 105px;
      transition: padding-right 0.3s ease-in-out;
    }
  }
}

.footer__inner_group {
  & > div {
    &:first-child {
      padding-right: 15px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer__group {
    & > div {
      transition: padding-top 0.3s ease-in-out;
      &:first-child {
        padding-left: 0;
        transition: padding-right 0.3s ease-in-out;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .footer__container {
    padding-bottom: 37px;
  }

  .footer__group {
    & > div {
      padding-top: 32px;
      padding-right: 20px;

      &:first-child {
        padding-top: 19px;
      }

      &:last-child {
        padding-left: 0;
      }
    }
  }

  .footer__logo {
    img {
      max-width: 124px;
      max-height: 124px;
    }
  }

  .footer__inner_group {
    flex-wrap: wrap;
    max-width: 340px;

    & > div {
      &:first-child {
        padding-right: 0;
      }

      &:last-child {
        margin-top: 27px;
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .footer__container {
    padding-bottom: 40px;
  }

  .footer__group {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 715px) {
  .footer__group {
    flex-direction: column;
    align-items: center;

    & > div {
      padding-top: 25px;
      padding-right: 0;

      &:first-child {
        padding-right: 0;
        transition: padding-top 0.3s ease-in-out;
      }
      &:last-child {
        padding-top: 40px;
        transition: padding-top 0.3s ease-in-out;
      }
    }
  }

  .footer__item_title {
    text-align: center;
  }

  .footer__inner_group {
    justify-content: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .footer__group {
    & > div {
      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-top: 25px;
      }
    }
  }
}
