@use "styles/helpers";

.profileNav {

  li {
    display: flex;
    align-items: center;
    min-height: 61px;
    padding: 5px 16px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #222222;
    transition: .2s;

    &.active {
      background: #4FB3EC;
      color: #FFFFFF;
    }

    &:hover {
      cursor: pointer;
      background: #4FB3EC;
      color: #FFFFFF;
      transition: .2s;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: helpers.$widthMobile) {
  .profileNav {

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-left: -10px;

      li {
        flex-basis: calc(50% - 16px);
        max-width: calc(50% - 16px);
        margin: 0 8px;
        font-size: 12px;
        justify-content: center;
        display: flex;
        text-align: center;
        min-height: 55px;

        &:first-child {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: helpers.$widthMobile) {

}