@use "styles/helpers";

.auth__modal {
  position: relative;
  background: url("/img/signinLoginBg.png") no-repeat center / cover;
  padding: 145px 20px 80px;
  color: #fff;
  border-radius: 20px;
  transition: padding 0.3s ease-in-out;

  input {
    height: 67px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 10px;
    border-color: #fff;
    outline: none;
    font-weight: 500;
  }

  button {
    height: 67px;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  .submit__btn {
    background: #119ad0;
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    padding: 5px 20px;
  }
}

.forgot__password {
  font-weight: 600;
  font-size: 20px;
  line-height: 56px;
  margin-top: 23px;
}

.auth__modal_close {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 15px;
  right: 18px;
  display: inline-block;
  padding: 12px;
  background: #4fb3ec;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in-out 0.3s, box-shadow linear 0.3s;

  &:hover {
    transform: scale(1.03) rotate(180deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}

.modal__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  font-family: helpers.$fontMontserratAlt;
  margin: 0;
}

.modal__content {
  max-width: 570px;
  width: 100%;
  text-align: center;
  margin: 0;

  form {
    margin-top: 22px;
  }
}

.forgot__password {
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    line-height: 56px;
  }
}

.or__auth {
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
  }
}

.auth__social_links {
  margin-top: 12px;
}

@keyframes messageBlock {
  0% {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    opacity: 0;
    height: 0;
  }
  100% {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 22px;
    opacity: 1;
    height: 100%;
  }
}

.form__message_block {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  animation-name: messageBlock;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  border-radius: 10px;
  color: #fff;
}

.error__message {
  border: 2px solid #ce0000;
}

.success__message {
  border: 2px solid #119ad0;
}

.confirm__email_modal {
  background-position: inherit;
  min-height: 500px;
}

.confirm__email_btn {
  width: auto;
  font-weight: 500 !important;
  margin-top: 30px;
  transition: 0.2s ease-out;

  &:hover {
    background: #ffc76d;
    transition: 0.2s ease-out;
  }
}

.confirm__email_message {
  margin-top: 0 !important;
}

.btn__success {
  margin-top: 25px;

  img {
    max-width: 22px;
    margin-left: 10px;
  }

  button {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .auth__modal {
    background: #78d2f7;
    padding: 25px 18px 29px;

    input {
      font-size: 14px;
    }
  }

  .modal__title {
    font-size: 24px;
  }

  .auth__modal_close {
    padding: 8px;
    width: 28px;
    height: 28px;
    top: 11px;
    right: 11px;
  }

  .modal__content {
    margin: 0;

    form {
      margin-top: 8px;
    }
  }

  .forgot__password {
    margin-top: 20px;
  }

  .or__auth {
    p {
      line-height: 30px;
    }
  }

  .auth__social_links {
    margin-top: 20px;
  }
}

@media screen and (max-width: helpers.$widthMobile) {
  @keyframes messageBlock {
    0% {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      opacity: 0;
      height: 0;
    }
    100% {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 22px;
      opacity: 1;
      height: 100%;
    }
  }

  .form__message_block {
    font-size: 14px;
  }

  .error__message {
    border-width: 1px;
  }
}
