.menu__modal_content > div {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

.menu__modal_close {
  margin-bottom: 27px;
}