@use "styles/helpers";

.authPage {
  margin-top: 45px;
  margin-bottom: 90px;

  form {
    border: 1px solid #d3ced2;
    padding: 20px;
    margin-top: 15px;
    text-align: left;
    border-radius: 5px;
  }

  button {
    background: #119ad0;
    border-radius: 10px;
    border: none;
    outline: none;
    min-height: 60px;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    max-width: 200px;
    transition: 0.2s ease-out;
    margin-top: 25px;

    &:hover {
      background: #ffc76d;
      border-color: #ffc76d;
      color: #fefefe;
      transition: 0.2s ease-out;
    }
  }

  &__form_group {
    &:not(first-child) {
      margin-top: 25px;
    }

    label {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }

    input {
      min-height: 60px;
      padding: 5px 15px;
      background: #ffffff;
      border: 1px solid #bdbdbd;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      margin-top: 8px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #222222;
    margin-top: 40px;
  }
}

@media screen and (max-width: helpers.$widthTablet) {
  .authPage {
    &__form_group {
      &:not(first-child) {
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: helpers.$widthMobile) {
  .authPage {
    margin-top: 0;
  }
}
