@use "styles/helpers";

.tickets {
  background: #dfecff;
  border-radius: 10px;

  &__mobClose {
    display: none;
  }

  &__header {
    padding: 17px 21px 0;
  }

  &__header_close {
    display: flex;
    background: #4fb3ec;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    cursor: pointer;
    transition: transform ease-in-out 0.3s, box-shadow linear 0.3s;

    img {
      width: 15px;
      height: 15px;
    }

    &:hover {
      transform: scale(1.03) rotate(180deg);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }

  &__content {
    padding-bottom: 62px;
  }

  &__title,
  &__title_layer {
    min-height: 108px;
    position: relative;
    z-index: 1;

    &::before {
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: "";
      border-top: 108px solid;
      border-left: 43px solid transparent;
      border-right: 43px solid transparent;
      position: absolute;
    }
  }

  &__title {
    max-width: 575px;
    margin: -14px auto 0;
    padding-top: 13px;

    &::before {
      border-top-color: #97cff5;
    }
  }

  &__title_layer {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      border-top-color: #4fb3ec;
    }

    span {
      font-family: "Montserrat_alternates", sans-serif;
      font-size: 45px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1090px;
    margin: 39px auto 0;
    padding: 0 15px;

    & > div {
      flex-basis: calc(33.333% - 24px);
      max-width: calc(33.333% - 24px);
      margin: 12px;
    }
  }

  &__ticket {
    width: 100%;
    min-height: 163px;
    background: url(/img/pages/home/ticket.jpg) no-repeat center center / cover;
    cursor: pointer;

    &:not(.tickets__ticket_disabled):hover {
      transform: translateY(-3px);
      transition: 0.2s;
    }
  }

  &__ticket_disabled {
    opacity: 0.35;
    cursor: default;
  }

  &__canvas_wrap {
    position: relative;

    canvas {
      background: transparent;
      cursor: pointer;
      height: 100%;
      width: 100%;
      z-index: 1;
      position: relative;
    }
  }

  &__winning {
    color: #ffc86e;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    background: url("/img/pages/home/ticket_win.jpg") no-repeat center center /
      cover;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 15px 10px 31px;

    &_title {
      font-size: 24px;
    }

    &_result {
      font-size: 40px;
      line-height: 38px;
    }

    &_discount {
      font-size: 12px;
      color: #ffffff;
      line-height: 14px;
    }

    &_discountWrap {
      margin-top: 15px;
    }

    &_name {
      max-width: 95%;

      p {
        color: #ffffff;
        font-size: 13px;
        line-height: 18px;
        text-transform: lowercase;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__modal_messages {
    position: relative;
  }

  &__success_message {
    max-width: 1060px;
    margin: 0 auto;
    animation: successMessageShow 1s forwards;

    p {
      font-size: 12px;
      line-height: 22px;
      color: #222222;
      font-weight: 600;
      text-align: center;
      border: 2px solid #119ad0;
      border-radius: 10px;
      display: block;
      margin: 0 27px;
      animation: successMessageTextShow 1s forwards;
    }
  }

  &__changeHobby_message {
    position: absolute;
    right: -300px;
    bottom: -115px;
    max-width: 210px;
    padding: 20px;
    line-height: 22px;
    font-weight: 500;
    box-shadow: 1px 1px 10px;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: 2;
    animation: slide-show 1s ease-in-out 2s both;

    @keyframes slide-show {
      0% {
        opacity: 0;
        right: -300px;
      }
      100% {
        opacity: 1;
        right: 20px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: -18px;
      bottom: -12px;
      border: 10px solid transparent;
      border-left: 20px solid #ffffff;
      transform: rotate(138deg);
      filter: drop-shadow(6px 0 3px rgba(0, 0, 0, 0.7));
    }

    & span {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 6px;
      right: 11px;
      cursor: pointer;
      transition: transform 0.1s linear;

      &:hover {
        transform: scale(1.02) rotate(90deg);
        filter: drop-shadow(1px 1px 3px rgb(34, 34, 34, 0.5));
      }

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 15px;
        height: 0.1rem;
        background: #777777;
        margin: 0 auto;
      }

      &::after {
        transform: rotate(-45deg);
      }

      &::before {
        transform: rotate(45deg);
      }
    }

    & a {
      cursor: pointer;
      position: relative;
      display: inline-block;
      background: linear-gradient(to right, #0a91c7 50%, #000 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 0.3s ease;

      &:hover {
        background-position: 0 100%;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        bottom: 1px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #777777;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
        border-bottom: 1px solid #119ad0;
      }
    }
  }

  &__changeHobby_close {
    display: none;
  }

  &__btn {
    transition: 0.3s ease-in-out;
    animation: btnShow;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    button {
      background: #119ad0;
      border-radius: 250px;
      outline: none;
      border-color: #78d2f7;
      max-width: 245px;
      height: 50px;
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer;
      position: relative;
      transition: 0.2s ease-in-out;

      &:not(:hover) {
        animation: jittery 4s infinite;
      }

      &:hover {
        transform: scale(1.15) rotate(0);
      }
    }

    @keyframes successMessageTextShow {
      0% {
        padding: 0;
        opacity: 0;
      }
      100% {
        padding: 10px;
        opacity: 1;
      }
    }

    @keyframes successMessageShow {
      0% {
        margin-top: 0;
      }
      100% {
        margin-top: 20px;
      }
    }

    @keyframes btnShow {
      0% {
        margin-top: 0;
      }
      100% {
        margin-top: 39px;
      }
    }

    @keyframes jittery {
      5%,
      50% {
        transform: scale(1);
      }
      10% {
        transform: scale(0.9);
      }
      15% {
        transform: scale(1.15);
      }
      20% {
        transform: scale(1.15) rotate(-5deg);
      }
      25% {
        transform: scale(1.15) rotate(5deg);
      }
      30% {
        transform: scale(1.15) rotate(-3deg);
      }
      35% {
        transform: scale(1.15) rotate(2deg);
      }
      40% {
        transform: scale(1.15) rotate(0);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .tickets {
    &__winning {
      &_title {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: helpers.$widthTablet) {
  .tickets {
    background: url("/img/pages/home/ticketsBgTab.png") no-repeat right
      top/cover;

    &__title {
      max-width: 520px;

      &::before {
        content: none;
      }
    }

    &__title_layer {
      min-height: 98px;

      &::before {
        border-top: 98px solid #4fb3ec;
      }

      span {
        font-size: 36px;
        line-height: 60px;
      }
    }

    &__wrap {
      & > div {
        flex-basis: calc(50% - 12px);
        max-width: calc(50% - 12px);
        margin: 6px;
      }
    }

    &__success_message {
      p {
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .tickets {
    &__title {
      max-width: 400px;
      min-height: 90px;
    }

    &__title_layer {
      min-height: 80px;

      &::before {
        border-top: 80px solid #4fb3ec;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
      }

      span {
        font-size: 25px;
        line-height: 40px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .tickets {
    position: relative;

    &__title {
      max-width: 100%;
      min-height: 90px;
      padding-top: 15px;
      margin: 0 17px;
    }

    &__title_layer {
      min-height: 80px;
      max-width: 400px;
      margin: 0 auto;

      &::before {
        border-top: 80px solid #4fb3ec;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
      }

      span {
        font-size: 25px;
        line-height: 40px;
      }
    }

    &__header {
      display: none;
    }

    &__mobClose {
      display: flex;
      justify-content: flex-end;
      padding: 10px 10px 0 0;
    }

    &__header_close {
      height: 30px;
      width: 30px;

      img {
        width: 11px;
        height: 11px;
      }
    }

    &__wrap {
      padding: 0 30px;

      & > div {
        flex-basis: 100%;
        max-width: 100%;
        margin: 0;
        min-height: 180px;

        &:not(:first-child) {
          margin-top: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: helpers.$widthMobile) {
  .tickets {
    &__container {
      margin-top: 10px;
    }

    &__ticket {
      min-height: 170px;
    }

    &__title {
      min-height: 48px;
    }

    &__title_layer {
      min-height: 48px;

      &::before {
        border-top: 48px solid #4fb3ec;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
      }

      span {
        font-size: 20px;
        line-height: 30px;
      }
    }

    &__wrap {
      margin: 20px auto 0;
    }

    &__content {
      padding-bottom: 33px;
    }

    &__btn {
      button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
      }
    }

    &__success_message {
      p {
        margin: 0 30px;
      }
    }
  }
}

@media screen and (max-width: 440px) and (min-width: 320px) {
  .tickets {
    &__winning {
      padding: 10px 10px 35px;

      &_title {
        font-size: 22px;
      }

      &_discount {
        font-size: 12px;
      }

      &_discountWrap {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 440px) and (min-width: 400px) {
  .tickets {
    &__wrap > div,
    &__ticket {
      min-height: 160px;
    }
  }
}

@media screen and (max-width: 400px) and (min-width: 370px) {
  .tickets {
    &__wrap > div,
    &__ticket {
      min-height: 150px;
    }
  }
}

@media screen and (max-width: 350px) {
  .tickets {
    &__wrap > div,
    &__ticket {
      min-height: 115px;
    }

    &__winning {
      padding: 15px 10px 29px;

      &_title {
        font-size: 21px;
      }

      &_result {
        font-size: 40px;
      }

      &_discount {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
  .tickets {
    &__wrap > div,
    &__ticket {
      min-height: 140px;
    }

    &__winning {
      padding: 10px 10px 30px;
    }
  }
}

@media screen and (max-width: 320px) {
  .tickets {
    &__wrap > div,
    &__ticket {
      min-height: 115px;
    }

    &__winning {
      padding: 10px 10px 46px;

      &_title {
        font-size: 18px;
      }

      &_result {
        font-size: 30px;
      }

      &_discount {
        font-size: 10px;
      }
    }
  }
}
