@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-light.woff2") format("woff2"),
  url("/fonts/montserrat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-regular.woff2") format("woff2"),
  url("/fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-medium.woff2") format("woff2"),
  url("/fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-semibold.woff2") format("woff2"),
  url("/fonts/montserrat-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-bold.woff2") format("woff2"),
  url("/fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat_alternates";
  src: url("/fonts/montserratalternates-regular.woff2") format("woff2"),
  url("/fonts/montserratalternates-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat_alternates";
  src: url("/fonts/montserratalternates-semibold.woff2") format("woff2"),
  url("/fonts/montserratalternates-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat_alternates";
  src: url("/fonts/montserratalternates-bold.woff2") format("woff2"),
  url("/fonts/montserratalternates-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

























