// Size
$widthMobile: 480px;
$widthTablet: 768px;
$widthDesktop: 1200px;

// Font
$fontMontserrat: "Montserrat", "Arial", "Helvetica", sans-serif;
$fontMontserratAlt: "Montserrat_alternates", "Arial", "Helvetica", sans-serif;

// Color
$lightBlue: #4FB3EC;
$lightBlueLight: #4fb2ec7e;
$darkBlue: #119AD0;
